.c-faqs {
  padding: 0 0 120px;

  &__content {
    max-width: 534px;
    margin: 0 auto;
  }

  &__intro {
    padding: 20px 0 40px;
  }

  &__accordion {
    margin-bottom: 50px;

    @include screen-min($breakpoint) {
      border-top: $light-grey-line;
    }
  }
}
