.faq-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: $white;
  border: none;
  border-bottom: $light-grey-line;

  @include screen-min($breakpoint) {
    padding-right: 20px;
  }

  &:hover {
    color: $soft-red;
    cursor: pointer;
  }

  &.faq-toggle--expanded {
    border-bottom: none;

    svg {
      stroke: $soft-red;
      transform: rotate(180deg);
    }
  }
}
