// primary
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
// neutral
$white: hsl(0, 0%, 100%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);
$light-grey: hsl(0, 0%, 96%); // picked with color picker
